<a href="https://colab.research.google.com/github/shahzadahmad7/Natural-Language-Processing/blob/main/NLP_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Reading

In [1]:
pip install pypdf2

Collecting pypdf2
  Downloading pypdf2-3.0.1-py3-none-any.whl (232 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 232.6/232.6 kB 7.2 MB/s eta 0:00:00
Installing collected packages: pypdf2
Successfully installed pypdf2-3.0.1

In [17]:
# importing required modules
import PyPDF2
data=open('/content/sample.pdf', 'rb')
rd=PyPDF2.PdfReader(data)

In [23]:
page=rd.pages[0]

In [24]:
page.extract_text()

'Dynamic and results-driven professional with a unique combination of skills as an Assistant Education \nOfficer, Python Developer, and Machine Learning Expert. With a solid background in education and a \nstrong passion for technology, I excel at leveraging my expertise to optimize educational processes and \ndevelop innovative solutions. Proficient in Python programming and well-versed in machine learning \nalgorithms, I possess a keen ability to analyze data, design models, and implement intelligent systems. \nCommitted to driving educational excellence through the integration of cutting-edge technology, I am \ndedicated to creating impactful learning experiences and fostering student success. '

In [25]:
data.close()

Working with Text Files

In [26]:
txt_data=open('/content/Sample.txt', 'r')
txt_data.read()

'Dynamic and results-driven professional with a unique combination of skills \nas an Assistant Education Officer, Python Developer, and Machine Learning Expert.\nWith a solid background in education and a strong passion for technology, I excel\nat leveraging my expertise to optimize educational processes and develop innovative solutions. \nProficient in Python programming and well-versed in machine learning algorithms, \nI possess a keen ability to analyze data, design models, and implement intelligent systems.\nCommitted to driving educational excellence through the integration of cutting-edge technology, \nI am dedicated to creating impactful learning experiences and fostering student success.'

Working with CSV file

In [27]:
import pandas as pd
csv_data=pd.read_csv('/content/DrugPrediction.csv')
csv_data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [28]:
csv_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [29]:
csv_data.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [30]:
csv_data.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000

In [34]:
csv_data.isnull().sum()
#data_part=data.dropna()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [33]:
csv_data.shape

(200, 6)

**Tokenization**
Tokenization in Natural Language Processing (NLP) refers to the process of breaking down a text or a sequence of words into smaller units called tokens.

Line Tokenization

In [37]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [38]:
tk_data='I love Pakistan. I am your servant'
token=nltk.sent_tokenize(tk_data)
token

['I love Pakistan.', 'I am your servant']

Word tokenization

In [39]:
tk=nltk.word_tokenize(tk_data)
tk

['I', 'love', 'Pakistan', '.', 'I', 'am', 'your', 'servant']

**Stemming** in Natural Language Processing (NLP) is a process of reducing words to their base or root form, known as the stem. The stem may not necessarily be a complete word, but it represents the core meaning of the word.

The purpose of stemming is to normalize words by removing affixes, such as prefixes and suffixes, in order to reduce different variations of a word to a common form.

In [41]:
from nltk.stem import PorterStemmer
ps=PorterStemmer ()
word=['run', 'running', 'runs']
for i in word:
  print(i, ": ", ps.stem(i))

run :  run
running :  run
runs :  run

**Lemmatization** in Natural Language Processing (NLP) is a technique used to determine the base or dictionary form of a word, known as the lemma.
The lemmatization process involves applying linguistic rules and morphological analysis to reduce inflected words to their canonical form. This canonical form represents the word's base meaning, maintaining grammatical accuracy and preserving the word's part of speech. For example, the lemma for the words "running," "runner," and "runs" would be "run" because "run" is the base form of the verb.

In [42]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [43]:
from nltk.stem import WordNetLemmatizer
lemma=WordNetLemmatizer()
for i in word:
  print(i, ": ", lemma.lemmatize(i))

run :  run
running :  running
runs :  run

In Natural Language Processing (NLP), **stop words** refer to commonly occurring words that are often considered insignificant or devoid of meaningful information when analyzing text. These words, such as articles (e.g., "a," "an," "the"), prepositions (e.g., "in," "on," "at"), conjunctions (e.g., "and," "but," "or"), and pronouns (e.g., "he," "she," "it"), appear frequently in text but typically do not contribute much to the overall meaning of the text.

Stop words are often removed from the text during preprocessing stages to improve the efficiency and quality of various NLP tasks, such as text classification, information retrieval, and sentiment analysis.

In [44]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [54]:
dt='I am Pakistan. I wish to enlight the name of Pakistan'
stop_words = set(stopwords.words('english'))

print(stop_words)

{'why', 'ours', 'where', 'herself', 'above', "mightn't", 'wouldn', 'himself', 'the', 'an', 'll', 'is', 'y', "needn't", 'ma', 'for', 'do', "you're", 'after', 'with', 'while', "should've", 'yours', 'won', 'as', 'very', 'me', 'hasn', 'i', 's', 'we', 'here', 'just', 'but', 'm', 'can', 'these', 'each', 'again', 'this', 'on', 'our', 'who', 'between', 'both', 'same', "it's", "wouldn't", "won't", 'which', 'he', "haven't", 'about', "weren't", 'not', 'she', 'and', 'any', 'my', 'a', 'when', 'weren', 'wasn', 'don', 'your', 'against', "mustn't", 'from', 'over', 'at', 'their', 'were', 'yourself', "shan't", 'will', 'had', 'to', "aren't", 'ain', 'if', 'd', 'what', 'under', 'are', 'before', "hasn't", 'because', 'that', 'shouldn', 'so', 'too', 'some', 'mustn', 'did', 'has', "you'd", "hadn't", 'once', 'down', 'its', 'it', 'you', 'being', 'off', 'themselves', 'those', 'am', 'of', 'didn', 'through', "you've", "she's", 'up', 'was', 'have', "wasn't", 'him', 'be', 'now', 'out', 'own', 'haven', 'mightn', 'there', 'isn', 'no', 've', 'whom', "that'll", 'aren', 'by', 'yourselves', 'his', 'during', 'only', 'them', 'few', "didn't", 'theirs', 'does', 'then', 'should', 'shan', 'needn', 'all', 'doing', 'they', 'or', 'below', 't', 'itself', 'hadn', 'doesn', 'couldn', "shouldn't", "don't", 'than', 'into', 'until', "isn't", 'having', 'how', 'further', 're', "couldn't", 'such', 'ourselves', 'o', 'hers', 'more', "doesn't", 'other', 'been', 'in', 'her', 'nor', "you'll", 'most', 'myself'}

In [56]:
data= nltk.word_tokenize(dt)

In [57]:
stops = set(stopwords.words('english'))

In [58]:
for word in data:
    if word not in stops:
        print(word)

I
Pakistan
.
I
wish
enlight
name
Pakistan